body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  max-width: 400px;
  margin: 80px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.hidden {
  display: none;
}

#error {
  color: red;
}

#success img {
  width: 200px;
  margin-top: 10px;
}
